<div id="per-page-metrics" class="lead-metrics">
  <h2>Metrics for each page</h2>

  <table>
    <thead>
      <tr>
        <th>Page</th>
        <th>Unique pageviews</th>
        <th>Searches started from this page</th>
        <th>Problem reports</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/housing-benefit/overview">Overview</a></td>
        <td>10K per day</td>
        <td>54.2 per day</td>
        <td>40.2 per week</td>
      </tr>
      <tr>
        <td><a href="/housing-benefit/what-youll-get">What you'll get</a></td>
        <td>5K per day</td>
        <td>24.2 per day</td>
        <td>20.2 per week</td>
      </tr>
    </tbody>
  </table>
</div>
